*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color:#1f1f21;
    --text-color:#fff;
    --btn-color:#ffae00;
    --big-font:6rem;
    --p-font:1.1rem;
}
body{
    background:var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15%;
    background: transparent;
    transition: all ease .45s;
    margin-bottom: 30px;
    background:linear-gradient(90deg, #5CB5EE 0%, #E36AF6 50%,#80EB0F 100%);
}
.logo{
    display:inline-flex;
    align-items: center;
}
.logo img{
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar a{
    font-size: var(--p-font);
    font-weight: 700;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}
.navbar li a:hover{
    
    border-radius: 5px;
    box-sizing: border-box;
    color:rgb(32, 28, 28);
    font-weight: bolder;
    
}
.navbar .dropdown li{
    margin-top: 20px;
}

header .navbar li > .dropdown{
    position: absolute;
    backdrop-filter:blur(15px);
    box-shadow: 15px 17px 17px rgba(10,10,10,0.2);
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    display: none;
    padding: 30px 0px;
    width: auto;
    height: auto;
    font-weight: 400;
    transition: 1s ease-in-out;
}
.dropdown li{
    margin: 5px 0px;
    display: block;
    border: 1px solid rgba(255, 255, 255,0.4);
    position: relative;
}
.dropdown li a{
    color: var(--text-color);
}
.navbar li:hover > .dropdown{
    display: block;
}
.navbar li ul li .dropdown{
    position: absolute;
    top: 0;
    left:100%;
    width:300px;
    text-align: center;
    margin-top: 0px;
}

.menu-btn{
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display:none;
    align-items: center;
    cursor: pointer;
}
#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}
   
.home{
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 15%;
}
.home-img{
    width: 800px;
    height: 400px;
    overflow: hidden;
   
}
.holder{
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: relative;
    animation: slide 35s infinite;
    animation-delay: 1s;
}

.home-img img{
    width: 100%;
    height: 100%;
    padding: 0 30px;
}
@keyframes slide{
0%{left: 0%}
16%{left: -100%}
32%{left: -200%}
48%{left: -300%}
64%{left: -200%}
80%{left: -100%}
100%{left: 0%}
}

.home-text span{
    padding: 5px 25px;
    background: linear-gradient(120deg, #5CB5EE 0%, #E36AF6 50%,#80EB0F 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 5px;
}
.home-text h1{
    font-size:var(--big-font);
    margin: 23px 0;
}
.home-text ol li{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 10px;
    margin-bottom: 30px;
}
.social{
    display: inline-flex;
    align-items: center;
}
.btn{
    padding: 14px 34px;
    background:var(--btn-color);
    color: var(--text-color);
    border: 2px solid var(--btn-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
    margin-right: 10px;
}
.btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}
.social i{
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;  
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    margin: 0 10px;
    display: flex;   
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.social i:hover{
    color: #000;
    background: #fff;
}

.two{
    background: #141414;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}
.two:hover{
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}
@media screen and (max-width:1850px){
    header{
        padding: 15px 8%;
        transition: 0.2s;
    }
    section{
        padding: 0.8%;
        transition: 0.2s;
    }
    .home{
        margin-top: 3%;
    }
}

@media screen and (max-width:1370px){
    header{
        padding: 15px 4%;
        transition: 0.2s;
    }
    section{
        padding: 0.4%;
        transition: 0.2s;
    }
    :root{
        --big-font: 4rem;
        --p-font:1.1rem;
        transition: .2s;
    }
    .home{
        margin-top: 8%;
    }

}
@media screen and (max-width:1020px){
    .navbar a{
        margin: 0 15px;
    }
    :root{
        --big-font: 3.5rem;
        --p-font:1rem;
        transition: .2s;
    }
    .home{
        margin-top: 12%;
    }
}
@media screen and (max-width:950px){
    section{
        padding: 70px 4%;
    }
    header{
        padding: 11px 4%;
        background:#2d2d2d;
    }
    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text{
        order:2;
    }
    .home-img{
        margin: auto;
        height: auto;
        width: auto;
    }
    .home-img img{
        max-width: 450px;
        width: 100%;
        height: auto;
    }
    .home{
        margin-top: 19%;
    }
    header{
    background:linear-gradient(90deg, #EA603C 0%,#6DD894 100%);
    }
}
@media screen and (max-width:850px){
    .navbar{
        position: absolute;
        width: 100%;
        height:330px;
        padding: 15px 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255,255,0.1);
        transition: all 0.4s ease-in-out;
        border-radius: 20px;
        border: 2px solid rgba(255,255,255,0.7);
        backdrop-filter:blur(15px);
        box-shadow: 15px 17px 17px rgba(10,10,10,0.2);
    }
    .navbar a{
        display: block;
        color: orange;
        padding: 0px;
        margin: 0px 0px 20px 40px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .navbar li a:hover{
        color: white;
    }
    .menu-btn{
        display: flex;
    }
    .navbar.open{
        left: 40%;
        top: 10%;
    }

    .navbar li:hover .dropdown{
       display: none;
    }
}
@media screen and (max-width:500px){
    :root{
            --big-font:3rem;
            --p-font:15px;
            transition: .2s;
    }
    .btn{
            padding: 9px 28px;
    }
}

video{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    height: auto;
    width:100%;
    min-height: 100%;
    min-width: 100%;
    filter: blur(10px);
}